*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: Helvetica;
}

body{
    background-color: rgb(18, 19, 18);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calc{
    width: 400px;
    border-radius: 10px;
    padding: .9em;
    background-color: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

#calc h3{
    font-size: .8em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.884);
}

#operations{
    text-align: right;
}

#previous-operation,
#current-operation{
    min-height: 1.6em;
    padding: 0.2em;
    overflow-wrap: break-word;
}

#previous-operation{
    color: rgb(255, 252, 252);
    
}

#current-operation{
    font-size: 3em;
    font-weight: 700;
}

#buttons-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}



#buttons-container button{
    color: #ffffff;
    border: 1px solid transparent;
    margin-top: 3px;
    border-radius: 50px;
    height: 4em;
    width: 4em;
    font-size: 1.2em;
    background-color: #777676;
    cursor: pointer;
}
#buttons-container .number:hover{
    background-color: #414040;
}

#buttons-container .number{
    background-color: #242424;
}

#buttons-container button:hover{
    background-color: #d3d1d1;
    border-color: #999;
}

#buttons-container #equal-btn{
    grid-column: span 2;
    background-color: rgb(255, 166, 0);
    color: #ffffff;
    width: 9em;
    margin-top: 3px;
    
}


#buttons-container #equal-btn:hover{
    background-color: rgb(250, 177, 52);
}